<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!--<link rel="shortcut icon" href="../images/logo.jpg">-->
    </head>

    <body>

        <header>
            <div class="logo">
                <!--<img src={logo} alt="LOGO" /> -->
                <img id="logo" alt="LOGO IMAGE" height:"75px" width="75px" />
            </div>
            
            <div class="navigation">
                <img id="gear" alt="GEAR IMAGE" />
            </div>
        </header>

        <main>
            <section>
                <form class="form" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Text">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results">
                    <p>The irony of the text:</p>
                    <div class="irony">
                    </div>
                    <p>The subjectivity of the text:</p>
                    <div class="subjectivity">
                    </div>
                    <p>The agreement between the sentiments detected in the text,
                    the sentence or the segment it refers to:</p>
                    <div class="agreement">
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
