

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vh;
    text-align: center;
}

main {
    flex: 2;
}

section {
    max-width: 800px;
    margin: 50px auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}
